.main-content{
    grid-area: main-content;
    justify-self: start;
    span{
        font-family: sans-serif;
    }
}
.followers-icon{
    display: flex;
    max-width: 50px;
    max-height: 50px;
}
.gist-icon{
    display: flex;
    max-width: 25px;
    max-height: 30px;
    margin-left: 10px;
}
.flex-items{
    display: flex;
}
.user-github{
    display: flex;
    flex-direction: column;
    
    max-width: 100%;
    
    justify-content: flex-start;
    align-items: center;
    
    margin-left: 4rem;

    row-gap: 0.5rem;
    /*border: solid 1px;*/
}
.user-github-info{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}


.avatar-photo {
    width: 80%;
    max-width: 250px;
    max-height: 70%;
    border-radius: 50%;
    padding: 5px;
}
.h2-user-github{
    font-size: 28px;
}
#add-button{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border-radius: 50%;
    border: solid 0px;

    color: #fff;
    background-color: #D90D6C;

    transition: transform;
    transition-duration: 0.5s;
}

#add-button:hover{
    transform: scale(1.15);
}